@model SuperHero.Models.Heroes

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Heroes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterEgoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterEgoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchphrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Details", "Details", new { id = Model.heroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
