@model IEnumerable<SuperHero.Models.Heroes>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.heroName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.heroName)
        </td>
        <td>
            @Html.ActionLink(item.heroName + " information", "Index", new { id = item.heroId })
            @Html.ActionLink("Edit", "Edit", new { id = item.heroId, item })
            @Html.ActionLink("Delete", "Delete", new { id = item.heroId })
        </td>
    </tr>
}

</table>
